/* From Uiverse.io by purplemanta6754 */ 
button {
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
    -webkit-clip-path: polygon(
      0 0,
      0 0,
      100% 0,
      100% 0,
      100% calc(100% - 15px),
      calc(100% - 15px) 100%,
      15px 100%,
      0 100%
    );
    clip-path: polygon(
      0 0,
      0 0,
      100% 0,
      100% 0,
      100% calc(100% - 15px),
      calc(100% - 15px) 100%,
      15px 100%,
      0 100%
    );
    height: 40px;
    font-size: 0.7rem;
    line-height: 14px;
    letter-spacing: 1.2px;
    transition: 0.2s 0.1s;
    background-image: linear-gradient(90deg, #28285a, #6220fb);
    border: 0 solid;
    overflow: hidden;
  }
  
  button:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-weight: 600;
    color: #000;
    transition: all 0.1s ease-in;
    background-image: linear-gradient(90deg, #9472e1, #6220fb);
    padding-right: 32px;
    padding-left: 32px;
  }
  
  button:active {
    opacity: 0.5;
    transition: all 0s;
  }
  